@model DoorDelightsProject.Models.FoodItem

@{
    ViewBag.Title = "DeleteFooditem";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<h2>DeleteFooditem</h2>
<p style="color:green;font-size:20px;"> @ViewBag.Notification</p>
<h3>Are you sure you want to delete this?</h3>
<style>
    .container {
        margin-left:30px;
    }
</style>
<div>
    <h2>Delete:@Model.Item_name</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Item Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item_name)
        </dd>

        <dt>
            @Html.DisplayName("Price")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayName("Image")
        </dt>

        <dd>
            <img src="@Url.Content(Model.Item_Image)" width="150" height="150" class="iconDetails" />
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ViewFoodItems",new { @id = Model.RestaurantId })
        </div>
    }
</div>
