@model IEnumerable<DoorDelightsProject.Models.Order>

@{
    ViewBag.Title = "cartlist";
    Layout = "~/Views/Shared/_LayoutCustomerMenu.cshtml";
}

<h2>cartlist</h2>
<style>
    .text-box {
        width: 30px;
    }

    .container {
        margin-left: 30px;
    }

    .cta-btn {
        background-color: orange;
        color: white;
        padding: 18px 20px;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 20%;
        border-radius: 10px;
        border: none;
        position: relative;
        margin-left: -130px;
        left: 50%;
        bottom: 0px;
    }

        .cta-btn:active {
            box-shadow: 0 5px rgb(69, 69, 185);
            transform: translateY(4px);
        }

        .cta-btn:hover {
            background-color: black;
            cursor: pointer;
        }
    .no-items {
        color: red;
        font-size: 30px;
        position: center;
    }
</style>
<p>
    @Html.ActionLink("Back", "Menu", "Customer")
</p>
@{
    var x = Model.Count();

    if (x == 0)
    {
        <center> <p class="no-items">No Items in the cart</p></center>
    }
}
@*@using (Html.BeginForm("cartlist", "Customer"))
    {*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Item")
        </th>
        <th>
            @Html.DisplayName("Restaurant")
        </th>
        <th>
            @Html.DisplayName("Item Name")
        </th>
        <th>
            @Html.DisplayName("Price")
        </th>
        <th>
            @Html.DisplayName("Quantity")
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Content(item.itemimage)" width="150" height="150" class="iconDetails" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurantname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Itemname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.EditorFor(modelItem => item.Quantity, new { @class = "quantity" })
            </td>
            <td>
                <input type="submit" value="Edit Quantity" onclick='window.location="@Url.Action("editquantity","Customer",new { id = item.OrderId})";' />
            </td>
            <td>
                <input type="submit" value="Delete" onclick='window.location="@Url.Action("Deletecart","Customer",new { id = item.OrderId})";' />
            </td>
        </tr>
    }
</table>
@{
    var sum = 0;
    foreach (var item in Model)
    {
        sum = sum + item.Price * item.Quantity;
    }
    <div>
        <h2>Total:@sum</h2>

    </div>
}
@foreach (var item in Model)
{
    <input type="submit" value="Place Order" onclick='window.location="@Url.Action("DeliveryAddress", "Customer", new { id =item.OrderId})";' class="cta-btn" />
    break;
}
@*}*@